*{
    margin: 0;
    padding: 0;
    box-shadow:  border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    color: black;
}


.nav-link{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}


.home{
    text-decoration: none;
    color:black;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}
.home:hover{
    text-decoration: none;
    color:red;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 780px) {
    .logo{
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #000;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .home{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-out;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute ;
        font-size: 30px;
        color: white;
        background-color: #000;
        border:none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}