.top__main{
    display: flex;
    justify-content: space-between;
    margin: 0 15rem 0 15rem;
    background-image: url(../../assets/plane.png);
    background-position: 25% 50%  ;
    background-repeat: no-repeat;
    background-size: 20%;

}

main .left{
    display: flex;
    flex-direction: column;
    width: 40rem;
    justify-content: center;
    align-items: center;
}

main .left p{
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    border: 1px solid black
}

main .right{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 main .right img{
    height: 50rem;
 }

 @media screen and (max-width: 1060px) {
    .top__main{
        background-image: none;
        margin: 1rem 5rem 1rem 5rem;
    }
    main .right img{
        height: 25rem;
     }
}

@media screen and (max-width: 760px) {
    .top__main{
        background-image: none;
        margin: 1rem;
    }
    main .right img{
        height: 15rem;
     }
     main .left{
        font-size: small;
    }
    
}